<li class="bx--side-nav__menu-item">
  <a role="menuitem" aria-current="{{if @isCurrent 'page'}}" class="bx--side-nav__link" role="menuitem"
    {{on 'click'@transitionTo}}>
    {{#if @icon}}
      <div class="bx--side-nav__icon">
        <Icon @icon="{{@icon}}"/>
      </div>
    {{/if}}
    <span class="bx--side-nav__link-text">{{@title}}</span>
  </a>
</li>
