@import "pod-styles";
@import "../ember-power-select";
@import "../ember-basic-dropdown";
@import 'node_modules/@carbon/themes/scss/themes';

// Backgrounds
$ember-power-select-background-color: #f4f7fb !default;
$ember-power-select-disabled-background-color: #eeeeee !default;
$ember-power-select-multiple-selection-background-color: #e5e5e5 !default;
$ember-power-select-highlighted-background: #e5e5e5 !default;
$ember-power-select-selected-background: #e5e5e5 !default;

// Texts
$ember-power-select-text-color: #152935 !default;
$ember-power-select-placeholder-color: #999999 !default;
$ember-power-select-highlighted-color: #152935 !default;
$ember-power-select-disabled-option-color: #999999 !default;
$ember-power-select-multiple-selection-color: #152935 !default;

// Borders
$ember-power-select-border-color: #aaaaaa !default;
$ember-power-select-focus-border-color: #3d70b2 !default;
$ember-power-select-default-border: none !default;
$ember-power-select-default-focus-border: none !default;

$ember-power-select-trigger-border: 1px solid #8c8c8c;
$ember-power-select-trigger-border-top: none;
$ember-power-select-trigger-border-bottom: none !default;
$ember-power-select-trigger-border-right: none;
$ember-power-select-trigger-border-left: none;
$ember-power-select-active-trigger-border: $ember-power-select-default-focus-border !default;
$ember-power-select-active-trigger-border-top: $ember-power-select-active-trigger-border !default;
$ember-power-select-active-trigger-border-bottom: $ember-power-select-active-trigger-border !default;
$ember-power-select-active-trigger-border-right: $ember-power-select-active-trigger-border !default;
$ember-power-select-active-trigger-border-left: $ember-power-select-active-trigger-border !default;
$ember-power-select-dropdown-border: $ember-power-select-default-focus-border !default;
$ember-power-select-search-field-border: $ember-power-select-default-border !default;
$ember-power-select-search-field-focus-border: $ember-power-select-default-focus-border !default;

$ember-power-select-dropdown-top-border: $ember-power-select-dropdown-border !default;
$ember-power-select-dropdown-right-border: $ember-power-select-dropdown-border !default;
$ember-power-select-dropdown-bottom-border: $ember-power-select-dropdown-border !default;
$ember-power-select-dropdown-left-border: $ember-power-select-dropdown-border !default;

$ember-power-select-dropdown-contiguous-border: none !default;

$ember-power-select-multiple-option-border-color: gray !default;
$ember-power-select-multiple-option-border: 1px solid $ember-power-select-multiple-option-border-color !default;

// Borders radius
$ember-power-select-default-border-radius: 0px !default; // General border radius
$ember-power-select-trigger-default-border-radius: $ember-power-select-default-border-radius !default;
$ember-power-select-dropdown-default-border-radius: $ember-power-select-default-border-radius !default;

$ember-power-select-opened-border-radius: 0 !default; // Border radius of the side of the dropdown and the trigger where they touch

$ember-power-select-search-input-border-radius: 0 !default;
$ember-power-select-multiple-option-border-radius: $ember-power-select-default-border-radius !default;

// Other
$ember-power-select-focus-box-shadow: 0 2px 0 0 #3d70b2 !default;
$ember-power-select-dropdown-margin: 0 !default; // Margin between the dropdown and the trigger
$ember-power-select-dropdown-box-shadow: 0 3px 3px 0 rgba(0,0,0,.1) !default;
$ember-power-select-line-height: 1 !default;
$ember-power-select-trigger-icon-color: $ember-power-select-border-color !default;
$ember-power-select-clear-btn-margin: 25px !default;
$ember-power-select-option-padding: 1rem;
$ember-power-select-number-of-visible-options: 20 !default;
$ember-power-select-focus-outline: none !important !default;
$ember-power-select-trigger-ltr-padding: 15px !default;
$ember-power-select-trigger-rtl-padding: 15px !default;
$ember-power-select-multiple-option-padding: 0.5rem 1.5rem 0.5rem 1rem !default;
$ember-power-select-multiple-option-line-height: 1.45 !default;

.ember-power-select-trigger {
  border-bottom: none;
}

.ember-power-select-multiple-trigger {
  .bx--checkbox-wrapper {
    display: inline-block;
  }
  input[type='checkbox'] {
    display: none;
  }
  .bx--checkbox-label {
    padding: 0;
  }
  .bx--checkbox-label::before, .bx--checkbox-label::after {
    display: none;
  }
  br {
    display: block;
  }
}

.ember-power-select-status-icon {
  position: absolute;
  will-change: transform;
  fill: #171717;
  right: 1rem;
  pointer-events: none;
}
.ember-power-select-trigger, .ember-power-select-trigger-multiple-input {
  line-height: initial;
  padding: 10px 20px 10px 16px;
  position: relative;
  background: #f3f3f3;
}

.ember-power-select-multiple-options > .ember-power-select-multiple-option {
  border-radius: 10px;
  background: #393939;
  color: white;
  width: fit-content;
}

.ember-power-select-multiple-remove-btn {
  opacity: 1;
  margin-right: 3px;
  font-weight: bold;
  font-size: 150%;
}

.ember-power-select-placeholder {
  height: 2.7rem;
  padding: 0.8125rem 2.5rem 0.8125rem 1rem;
}

.ember-power-select-option {
  padding: 0.5rem 1.5rem 0.5rem 1rem !important;
  font-size: 0.875rem;
  align-items: center;
  min-height: 2.5rem;
  background: #f3f3f3;
}
.ember-power-select-option[aria-current="true"] {
  text-decoration: underline;
  background: #e5e5e5;
}

.bx--snippet {
  margin-bottom: 15px;
}

.ember-basic-dropdown-content, .ember-power-select-dropdown {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

.bx--overflow-menu-options {
  top: 0;
}

.ember-power-select-search > input {
  padding: 0.5rem 1.5rem 0.5rem 1rem !important;
}

.ember-basic-dropdown-content--above {
  padding-bottom: 40px;
  .ember-power-select-search {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
