{{import Tag from 'carbon-components-ember/components/tag'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}


<h1>Carbon Tag</h1>

<Demo as |demo|>
  {{#demo.example name='tag.hbs'}}
    {{!import Tag from 'carbon-components-ember/components/tag'}}

    {{#each (array 'red' 'magenta' 'purple' 'blue' 'cyan' 'teal' 'green' 'gray' 'cool-gray' 'warm-gray') as |type|}}
      <Carbon::Tag></Carbon::Tag>
      <Tag @type={{type}}></Tag>
    {{/each}}

  {{/demo.example}}
  <demo.snippet @name="tag.hbs" />
</Demo>