<section class="bx--structured-list bx--skeleton">
      <div class="bx--structured-list-tbody">
        <div class="bx--structured-list-row">
          {{#each @headers as |h|}}
            <div class="bx--structured-list-td bx--structured-list-content--nowrap">
              <div class="bx--skeleton__text"></div>
            </div>
          {{/each}}
        </div>
  </div>
</section>