*
!types/
!carbon-components-ember/
!carbon-components-ember/**/*
carbon-components-ember/node_modules
!doc-app/
!doc-app/**/*
doc-app/node_modules
!test-app/
!test-app/**/*
test-app/node_modules
!.editorconfig
!.eslintrc.js
!.gitignore
!.npmignore
!.prettierignore
!.prettierrc.cjs
!addon.js
!CHANGELOG.md
!CONTRIBUTING.md
!index.d.ts
!jsconfig.json
!LICENSE.md
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!tsconfig.json
