*
!carbon-components-ember
!carbon-components-ember/**/*
!config
!config/**/*
!doc-app
!doc-app/**/*
!test-app
!test-app/**/*
!.editorconfig
!.gitignore
!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE.md
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!.github
!.github/**/*
!scripts
!scripts/**/*

