*
!carbon-components-ember
!carbon-components-ember/**/*
!config
!config/**/*
!docs-app
!docs-app/**/*
docs-app/node_modules
!test-app
!test-app/**/*
!.editorconfig
!.gitignore
!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE.md
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!.github
!.github/**/*
!scripts
!scripts/**/*
scripts/node_modules
!.gitconfig
!.release-plan.json
