<div class="bx--structured-list-thead">
  <div class="bx--structured-list-row bx--structured-list-row--header-row">
    {{#each @headers as |h|}}
      <div class="bx--structured-list-th">{{h}}</div>
    {{/each}}
  </div>
</div>