*
!src
!src/**/*
!types
!types/**/*
!.eslintignore
!eslint.config.mjs
!.gitignore
!.prettierignore
!.prettierrc.cjs
!.template-lintrc.cjs
!addon-main.cjs
!babel.config.js
!index.d.ts
!LICENSE.md
!package.json
!README.md
!rollup.config.mjs
!tsconfig.json
!.npmrc
src/components/icons
types/carbon-icons.d.ts
