<section class="bx--structured-list bx--skeleton">
  <div class="bx--structured-list-thead">
    <div class="bx--structured-list-row bx--structured-list-row--header-row">
      <div class="bx--structured-list-th">Item</div>
      <div class="bx--structured-list-th">Details</div>
    </div>
  </div>
      <div class="bx--structured-list-tbody">
        <div class="bx--structured-list-row">
          <div class="bx--structured-list-td bx--structured-list-content--nowrap">
            <div class="bx--skeleton__text"></div>
          </div>
          <div class="bx--structured-list-td bx--structured-list-content--nowrap">
            <div class="bx--skeleton__text"></div>
          </div>
        </div>
  </div>
</section>