{{import ListRow from '../-row'}}

<div class='cds--structured-list-tbody'>
  {{#each @items as |item|}}
    {{yield
      (hash
        Row=(component ListRow item=item isHeader=false list=@list) item=item
      )
    }}
  {{/each}}
</div>