hi

<Carbon::Icons::Add></Carbon::Icons::Add>
<Carbon::Icons::_4K @size={{124}}/>

<br>
<br>
<br>

<div style="width: 300px">
<Carbon::Select @multiple={{true}} @options={{array 1 2 3 4 }} as |item|>
  {{item}}
</Carbon::Select>
</div>