<div class="{{styleNamespace}} bx--search bx--search--sm" role="search">
  <Icon @icon="search" class="bx--search-magnifier" />
  <input value={{value}} type="text" aria-label="Search" class="bx--search-input" placeholder="Search" onchange={{action 'onChange' value='target.value'}}>
  {{#if hasInput}}
    <Icon @icon="close" class="bx--search-close" @onClick={{action 'onClear'}} />
  {{/if}}
</div>