{{import set from 'carbon-components-ember/helpers/set'}}
{{import Actions from './-actions'}}
{{import Content from './-content'}}

<section class="cds--table-toolbar ">
  {{yield (hash Content=Content Actions=(component Actions table=@table))}}
</section>