{{import Menu from 'carbon-components-ember/components/menu'}}

<td class='cds--table-column-menu'>
  <Menu @icon='overflow-menu--vertical' @direction='top' as |Item|>
    {{yield Item}}
  </Menu>
</td>