<div class="{{styleNamespace}} card" ...attributes>
    {{#if @title}}
      <div class="title">
        <strong style="padding-left: 20px">{{@title}}</strong>
      </div>
    {{/if}}
    {{#if @loading}}
      <div class="bx--skeleton bx--btn" style="width: 100%"></div>
    {{else}}
      {{yield}}
    {{/if}}

</div>