*
!app
!app/**/*
!config
!config/**/*
!public
!public/**/*
!scripts
!scripts/**/*
!tests
!tests/**/*
!types
!types/**/*
!babel
!babel/*
!.editorconfig
!.ember-cli
!eslint.config.mjs
!.gitignore
!.prettierignore
!.prettierrc.js
!.stylelintignore
!.stylelintrc.js
!.template-lintrc.js
!.watchmanconfig
!babel.config.js
!ember-cli-build.js
!package.json
!README.md
!testem.js
!tsconfig.json
!vite.config.mjs
