{{import SearchInput from 'carbon-components-ember/components/search-input'}}

<div class="bx--toolbar-search-container-persistent">
  <SearchInput value={{@currentSearch}} @onChange={{fn @onChange}} />
</div>